NET "p_mychip_clk" TNM_NET = "p_mychip_clk";
NET "p_clk100" TNM_NET = "p_clk100";
TIMESPEC "TS_mychip_clk" = PERIOD "p_mychip_clk" 7.5 ns HIGH 50 % ;
#TIMESPEC "TS_mychip_clk" = PERIOD "p_mychip_clk" 9 ns HIGH 50 % ;
#TIMESPEC "TS_clk100" = PERIOD "p_clk100" 12.5 ns HIGH 50 %;
TIMESPEC "TS_clk100" = PERIOD "p_clk100" 10 ns HIGH 50 %;

NET "p_bc1_cp1_msgi_af" LOC="T5";
NET "p_bc1_cp2_msgi_af" LOC="R4";
NET "p_bc1_fp_req" LOC="W5";
NET "p_bc1_indma_af" LOC="Y5";
NET "p_bc1_mgte_dv" LOC="Y2";
NET "p_bc1_mgti_ad<0>" LOC="R1";
NET "p_bc1_mgti_ad<10>" LOC="AC5";
NET "p_bc1_mgti_ad<11>" LOC="V5";
NET "p_bc1_mgti_ad<12>" LOC="AC6";
NET "p_bc1_mgti_ad<13>" LOC="W6";
NET "p_bc1_mgti_ad<14>" LOC="P2";
NET "p_bc1_mgti_ad<15>" LOC="R2";
NET "p_bc1_mgti_ad<1>" LOC="V1";
NET "p_bc1_mgti_ad<2>" LOC="P3";
NET "p_bc1_mgti_ad<3>" LOC="U4";
NET "p_bc1_mgti_ad<4>" LOC="AB4";
NET "p_bc1_mgti_ad<5>" LOC="AB5";
NET "p_bc1_mgti_ad<6>" LOC="AA5";
NET "p_bc1_mgti_ad<7>" LOC="U2";
NET "p_bc1_mgti_ad<8>" LOC="T3";
NET "p_bc1_mgti_ad<9>" LOC="V4";
NET "p_bc1_msgo_empty" LOC="Y1";
NET "p_bc1_msgo_req" LOC="AC2";
NET "p_bc1_mstre_av" LOC="AE1";
NET "p_bc1_mstre_data_3_0<0>" LOC="AB2";
NET "p_bc1_mstre_data_3_0<1>" LOC="AA2";
NET "p_bc1_mstre_data_3_0<2>" LOC="AB1";
NET "p_bc1_mstre_data_3_0<3>" LOC="AA1";
NET "p_bc1_mstre_dv" LOC="R5";
NET "p_bc1_mstri_data_3_0<0>" LOC="V3";
NET "p_bc1_mstri_data_3_0<1>" LOC="T2";
NET "p_bc1_mstri_data_3_0<2>" LOC="U1";
NET "p_bc1_mstri_data_3_0<3>" LOC="Y3";
NET "p_bc1_od_mstre_req" LOC="AD2";
NET "p_bc1_qname_af" LOC="T1";
NET "p_bc1_rd_egress_req" LOC="AC1";
NET "p_bc1_reset_l" LOC="D18";
#NET "p_bc1_spare<0>" LOC="H19";
#NET "p_bc1_spare<1>" LOC="C20";
#NET "p_bc1_spare<2>" LOC="D20";
NET "p_bc2_cp1_msgi_af" LOC="C25";
NET "p_bc2_cp2_msgi_af" LOC="C17";
NET "p_bc2_fp_req" LOC="E26";
NET "p_bc2_indma_af" LOC="D21";
NET "p_bc2_mgte_dv" LOC="E20";
NET "p_bc2_mgti_ad<0>" LOC="E25";
NET "p_bc2_mgti_ad<10>" LOC="F20";
NET "p_bc2_mgti_ad<11>" LOC="C14";
NET "p_bc2_mgti_ad<12>" LOC="D25";
NET "p_bc2_mgti_ad<13>" LOC="B14";
NET "p_bc2_mgti_ad<14>" LOC="E16";
NET "p_bc2_mgti_ad<15>" LOC="F16";
NET "p_bc2_mgti_ad<1>" LOC="E21";
NET "p_bc2_mgti_ad<2>" LOC="F22";
NET "p_bc2_mgti_ad<3>" LOC="AD12";
NET "p_bc2_mgti_ad<4>" LOC="AD25";
NET "p_bc2_mgti_ad<5>" LOC="A19";
NET "p_bc2_mgti_ad<6>" LOC="B19";
NET "p_bc2_mgti_ad<7>" LOC="C26";
NET "p_bc2_mgti_ad<8>" LOC="D26";
NET "p_bc2_mgti_ad<9>" LOC="G20";
NET "p_bc2_msgo_empty" LOC="W12";
NET "p_bc2_msgo_req" LOC="W8";
NET "p_bc2_mstre_av" LOC="W17";
NET "p_bc2_mstre_data_3_0<0>" LOC="N19";
NET "p_bc2_mstre_data_3_0<1>" LOC="P18";
NET "p_bc2_mstre_data_3_0<2>" LOC="G16";
NET "p_bc2_mstre_data_3_0<3>" LOC="R25";
NET "p_bc2_mstre_dv" LOC="Y8";
NET "p_bc2_mstri_data_3_0<0>" LOC="Y16";
NET "p_bc2_mstri_data_3_0<1>" LOC="G19";
NET "p_bc2_mstri_data_3_0<2>" LOC="E17";
NET "p_bc2_mstri_data_3_0<3>" LOC="E23";
NET "p_bc2_od_mstre_req" LOC="AA8";
NET "p_bc2_present_l" LOC="H16";
NET "p_bc2_rd_egress_req" LOC="AA9";
NET "p_bc2_reset_l" LOC="C18";
#NET "p_bc2_spare<0>" LOC="H17";
#NET "p_bc2_spare<1>" LOC="G18";
#NET "p_bc2_spare<2>" LOC="H18";
NET "p_bc_mgte_data<0>" LOC="N25";
NET "p_bc_mgte_data<1>" LOC="W13";
NET "p_bc_mgte_data<2>" LOC="N22";
NET "p_bc_mgte_data<3>" LOC="V13";
NET "p_bc_mgte_data<4>" LOC="R20";
NET "p_bc_mgte_data<5>" LOC="U19";
NET "p_bc_mgte_data<6>" LOC="R23";
NET "p_bc_mgte_data<7>" LOC="AA12";
NET "p_clk100" LOC="AE13";
#NET "p_clk" LOC="AE24";
NET "p_cpld_mgte_data<0>" LOC="AC17";
NET "p_cpld_mgte_data<1>" LOC="J14";
NET "p_cpld_mgte_data<2>" LOC="E14";
NET "p_cpld_mgte_data<3>" LOC="M26";
NET "p_cpld_mgte_data<4>" LOC="AD18";
NET "p_cpld_mgte_data<5>" LOC="T19";
NET "p_cpld_mgte_data<6>" LOC="W18";
NET "p_cpld_mgte_data<7>" LOC="AD1";
NET "p_cpld_mgte_dv" LOC="AD17";
NET "p_cpld_mgti_ad<0>" LOC="C15";
NET "p_cpld_mgti_ad<10>" LOC="F15";
NET "p_cpld_mgti_ad<11>" LOC="E19";
NET "p_cpld_mgti_ad<12>" LOC="D14";
NET "p_cpld_mgti_ad<13>" LOC="G21";
NET "p_cpld_mgti_ad<14>" LOC="F14";
NET "p_cpld_mgti_ad<15>" LOC="F19";
NET "p_cpld_mgti_ad<1>" LOC="N23";
NET "p_cpld_mgti_ad<2>" LOC="D15";
NET "p_cpld_mgti_ad<3>" LOC="H15";
NET "p_cpld_mgti_ad<4>" LOC="N24";
NET "p_cpld_mgti_ad<5>" LOC="E15";
NET "p_cpld_mgti_ad<6>" LOC="D17";
NET "p_cpld_mgti_ad<7>" LOC="G15";
NET "p_cpld_mgti_ad<8>" LOC="H14";
NET "p_cpld_mgti_ad<9>" LOC="F21";
NET "p_cpld_reset_l" LOC="F18";
NET "p_cpld_spare<0>" LOC="N9";
NET "p_cpld_spare<1>" LOC="N8";
NET "p_cpld_spare<2>" LOC="N5";
NET "p_cpld_spare<3>" LOC="N4";
NET "p_dcm_reset" LOC="D22";
NET "p_mgte_qs<0>" LOC="Y19";
NET "p_mgti_bc1_av" LOC="Y4";
NET "p_mgti_bc1_dv" LOC="U5";
NET "p_mgti_bc2_av" LOC="J15";
NET "p_mgti_bc2_dv" LOC="P19";
NET "p_mgti_cpld_av" LOC="R22";
NET "p_mgti_cpld_dv" LOC="AF19";
NET "p_msgo_bc1_gnt" LOC="W2";
NET "p_msgo_bc2_gnt" LOC="W11";
NET "p_mstre_bc1_cts" LOC="V2";
NET "p_mstre_bc2_cts" LOC="V12";
NET "p_mstre_data_63_4<10>" LOC="T7";
NET "p_mstre_data_63_4<11>" LOC="T8";
NET "p_mstre_data_63_4<12>" LOC="AD7";
NET "p_mstre_data_63_4<13>" LOC="W7";
NET "p_mstre_data_63_4<14>" LOC="AF8";
NET "p_mstre_data_63_4<15>" LOC="W10";
NET "p_mstre_data_63_4<16>" LOC="AB9";
NET "p_mstre_data_63_4<17>" LOC="P5";
NET "p_mstre_data_63_4<18>" LOC="R8";
NET "p_mstre_data_63_4<19>" LOC="R7";
NET "p_mstre_data_63_4<20>" LOC="R6";
NET "p_mstre_data_63_4<21>" LOC="P8";
NET "p_mstre_data_63_4<22>" LOC="T6";
NET "p_mstre_data_63_4<23>" LOC="P9";
NET "p_mstre_data_63_4<24>" LOC="U8";
NET "p_mstre_data_63_4<25>" LOC="P6";
NET "p_mstre_data_63_4<26>" LOC="V7";
NET "p_mstre_data_63_4<27>" LOC="V6";
NET "p_mstre_data_63_4<28>" LOC="AB16";
NET "p_mstre_data_63_4<29>" LOC="V8";
NET "p_mstre_data_63_4<30>" LOC="R9";
NET "p_mstre_data_63_4<31>" LOC="AD10";
NET "p_mstre_data_63_4<32>" LOC="AC10";
NET "p_mstre_data_63_4<33>" LOC="AC7";
NET "p_mstre_data_63_4<34>" LOC="AB10";
NET "p_mstre_data_63_4<35>" LOC="AE8";
NET "p_mstre_data_63_4<36>" LOC="AC12";
NET "p_mstre_data_63_4<37>" LOC="AD9";
NET "p_mstre_data_63_4<38>" LOC="AB12";
NET "p_mstre_data_63_4<39>" LOC="AD13";
NET "p_mstre_data_63_4<40>" LOC="AC26";
NET "p_mstre_data_63_4<41>" LOC="V20";
NET "p_mstre_data_63_4<42>" LOC="T20";
NET "p_mstre_data_63_4<43>" LOC="R21";
NET "p_mstre_data_63_4<44>" LOC="T22";
NET "p_mstre_data_63_4<45>" LOC="W16";
NET "p_mstre_data_63_4<46>" LOC="U22";
NET "p_mstre_data_63_4<47>" LOC="V15";
NET "p_mstre_data_63_4<48>" LOC="Y24";
NET "p_mstre_data_63_4<49>" LOC="N18";
NET "p_mstre_data_63_4<4>" LOC="AB7";
NET "p_mstre_data_63_4<50>" LOC="T24";
NET "p_mstre_data_63_4<51>" LOC="U24";
NET "p_mstre_data_63_4<52>" LOC="Y15";
NET "p_mstre_data_63_4<53>" LOC="Y12";
NET "p_mstre_data_63_4<54>" LOC="Y11";
NET "p_mstre_data_63_4<55>" LOC="W14";
NET "p_mstre_data_63_4<56>" LOC="AA13";
NET "p_mstre_data_63_4<57>" LOC="W15";
NET "p_mstre_data_63_4<58>" LOC="AB11";
NET "p_mstre_data_63_4<59>" LOC="AC13";
NET "p_mstre_data_63_4<5>" LOC="AA7";
NET "p_mstre_data_63_4<60>" LOC="V14";
NET "p_mstre_data_63_4<61>" LOC="AB13";
NET "p_mstre_data_63_4<62>" LOC="R18";
NET "p_mstre_data_63_4<63>" LOC="AA11";
NET "p_mstre_data_63_4<6>" LOC="Y9";
NET "p_mstre_data_63_4<7>" LOC="AB8";
NET "p_mstre_data_63_4<8>" LOC="Y7";
NET "p_mstre_data_63_4<9>" LOC="AC9";
NET "p_mstre_qs" LOC="V19";
NET "p_mstri_bc1_dv" LOC="AB6";
NET "p_mstri_bc1_sel" LOC="U3";
NET "p_mstri_bc2_dv" LOC="W9";
NET "p_mstri_bc2_sel" LOC="E22";
NET "p_mstri_data_63_4<10>" LOC="AA22";
NET "p_mstri_data_63_4<11>" LOC="Y20";
NET "p_mstri_data_63_4<12>" LOC="W20";
NET "p_mstri_data_63_4<13>" LOC="AB25";
NET "p_mstri_data_63_4<14>" LOC="W19";
NET "p_mstri_data_63_4<15>" LOC="AC25";
NET "p_mstri_data_63_4<16>" LOC="AD20";
NET "p_mstri_data_63_4<17>" LOC="AB20";
NET "p_mstri_data_63_4<18>" LOC="T26";
NET "p_mstri_data_63_4<19>" LOC="AA20";
NET "p_mstri_data_63_4<20>" LOC="R26";
NET "p_mstri_data_63_4<21>" LOC="AC20";
NET "p_mstri_data_63_4<22>" LOC="AB19";
NET "p_mstri_data_63_4<23>" LOC="AE19";
NET "p_mstri_data_63_4<24>" LOC="AC21";
NET "p_mstri_data_63_4<25>" LOC="AA19";
NET "p_mstri_data_63_4<26>" LOC="AC24";
NET "p_mstri_data_63_4<27>" LOC="AC18";
NET "p_mstri_data_63_4<28>" LOC="AB26";
NET "p_mstri_data_63_4<29>" LOC="AD26";
NET "p_mstri_data_63_4<30>" LOC="AE26";
NET "p_mstri_data_63_4<31>" LOC="Y26";
NET "p_mstri_data_63_4<32>" LOC="AA26";
NET "p_mstri_data_63_4<33>" LOC="AA18";
NET "p_mstri_data_63_4<34>" LOC="AA25";
NET "p_mstri_data_63_4<35>" LOC="Y25";
NET "p_mstri_data_63_4<36>" LOC="W26";
NET "p_mstri_data_63_4<37>" LOC="U23";
NET "p_mstri_data_63_4<38>" LOC="W25";
NET "p_mstri_data_63_4<39>" LOC="V24";
NET "p_mstri_data_63_4<40>" LOC="AB18";
NET "p_mstri_data_63_4<41>" LOC="U26";
NET "p_mstri_data_63_4<42>" LOC="T25";
NET "p_mstri_data_63_4<43>" LOC="P22";
NET "p_mstri_data_63_4<44>" LOC="P25";
NET "p_mstri_data_63_4<45>" LOC="U25";
NET "p_mstri_data_63_4<46>" LOC="P24";
NET "p_mstri_data_63_4<47>" LOC="V25";
NET "p_mstri_data_63_4<48>" LOC="P23";
NET "p_mstri_data_63_4<49>" LOC="V26";
NET "p_mstri_data_63_4<4>" LOC="W22";
NET "p_mstri_data_63_4<50>" LOC="P21";
NET "p_mstri_data_63_4<51>" LOC="R19";
NET "p_mstri_data_63_4<52>" LOC="AB23";
NET "p_mstri_data_63_4<53>" LOC="AA15";
NET "p_mstri_data_63_4<54>" LOC="AB15";
NET "p_mstri_data_63_4<55>" LOC="AA14";
NET "p_mstri_data_63_4<56>" LOC="AC15";
NET "p_mstri_data_63_4<57>" LOC="AD15";
NET "p_mstri_data_63_4<58>" LOC="V22";
NET "p_mstri_data_63_4<59>" LOC="AB17";
NET "p_mstri_data_63_4<5>" LOC="W21";
NET "p_mstri_data_63_4<60>" LOC="AB14";
NET "p_mstri_data_63_4<61>" LOC="AC14";
NET "p_mstri_data_63_4<62>" LOC="AD14";
NET "p_mstri_data_63_4<63>" LOC="AE14";
NET "p_mstri_data_63_4<6>" LOC="Y23";
NET "p_mstri_data_63_4<7>" LOC="Y18";
NET "p_mstri_data_63_4<8>" LOC="Y22";
NET "p_mstri_data_63_4<9>" LOC="V21";
NET "p_mstri_qs" LOC="AA16";
NET "p_od_mstre_bc1_gnt" LOC="W1";
NET "p_od_mstre_bc2_gnt" LOC="T21";
#NET "p_pc_a<0>" LOC="H20";
#NET "p_pc_a<10>" LOC="K19";
#NET "p_pc_a<11>" LOC="L19";
#NET "p_pc_a<12>" LOC="K23";
#NET "p_pc_a<1>" LOC="H21";
#NET "p_pc_a<2>" LOC="H25";
#NET "p_pc_a<3>" LOC="H26";
#NET "p_pc_a<4>" LOC="J19";
#NET "p_pc_a<5>" LOC="J20";
#NET "p_pc_a<6>" LOC="J23";
#NET "p_pc_a<7>" LOC="J24";
#NET "p_pc_a<8>" LOC="J25";
#NET "p_pc_a<9>" LOC="J26";
#NET "p_pc_ba<0>" LOC="G25";
#NET "p_pc_ba<1>" LOC="G26";
#NET "p_pc_cas_l" LOC="G22";
#NET "p_pc_cs_l" LOC="F25";
#NET "p_pc_dq<0>" LOC="K24";
#NET "p_pc_dq<10>" LOC="M19";
#NET "p_pc_dq<11>" LOC="M21";
#NET "p_pc_dq<12>" LOC="N21";
#NET "p_pc_dq<13>" LOC="M22";
#NET "p_pc_dq<14>" LOC="M23";
#NET "p_pc_dq<15>" LOC="M25";
#NET "p_pc_dq<1>" LOC="L24";
#NET "p_pc_dq<2>" LOC="K25";
#NET "p_pc_dq<3>" LOC="K26";
#NET "p_pc_dq<4>" LOC="L20";
#NET "p_pc_dq<5>" LOC="M20";
#NET "p_pc_dq<6>" LOC="L22";
#NET "p_pc_dq<7>" LOC="L25";
#NET "p_pc_dq<8>" LOC="L26";
#NET "p_pc_dq<9>" LOC="M18";
#NET "p_pc_dram_clk_l" LOC="L21";
#NET "p_pc_dram_clk" LOC="J21";
NET "p_mychip_ack64_l" LOC="G6";
NET "p_mychip_ad<0>" LOC="E2";
NET "p_mychip_ad<10>" LOC="C7";
NET "p_mychip_ad<11>" LOC="A8";
NET "p_mychip_ad<12>" LOC="B8";
NET "p_mychip_ad<13>" LOC="C9";
NET "p_mychip_ad<14>" LOC="D9";
NET "p_mychip_ad<15>" LOC="F7";
NET "p_mychip_ad<16>" LOC="C10";
NET "p_mychip_ad<17>" LOC="D10";
NET "p_mychip_ad<18>" LOC="E10";
NET "p_mychip_ad<19>" LOC="F11";
NET "p_mychip_ad<1>" LOC="F1";
NET "p_mychip_ad<20>" LOC="G11";
NET "p_mychip_ad<21>" LOC="H9";
NET "p_mychip_ad<22>" LOC="H8";
NET "p_mychip_ad<23>" LOC="E7";
NET "p_mychip_ad<24>" LOC="E11";
NET "p_mychip_ad<25>" LOC="H11";
NET "p_mychip_ad<26>" LOC="C12";
NET "p_mychip_ad<27>" LOC="D12";
NET "p_mychip_ad<28>" LOC="E12";
NET "p_mychip_ad<29>" LOC="F12";
NET "p_mychip_ad<2>" LOC="E1";
NET "p_mychip_ad<30>" LOC="F13";
NET "p_mychip_ad<31>" LOC="G12";
NET "p_mychip_ad<32>" LOC="N6";
NET "p_mychip_ad<33>" LOC="M4";
NET "p_mychip_ad<34>" LOC="L1";
NET "p_mychip_ad<35>" LOC="L2";
NET "p_mychip_ad<36>" LOC="K1";
NET "p_mychip_ad<37>" LOC="J1";
NET "p_mychip_ad<38>" LOC="H1";
NET "p_mychip_ad<39>" LOC="G1";
NET "p_mychip_ad<3>" LOC="D1";
NET "p_mychip_ad<40>" LOC="G2";
NET "p_mychip_ad<41>" LOC="H2";
NET "p_mychip_ad<42>" LOC="G3";
NET "p_mychip_ad<43>" LOC="G4";
NET "p_mychip_ad<44>" LOC="L8";
NET "p_mychip_ad<45>" LOC="K8";
NET "p_mychip_ad<46>" LOC="L7";
NET "p_mychip_ad<47>" LOC="L6";
NET "p_mychip_ad<48>" LOC="L5";
NET "p_mychip_ad<49>" LOC="K5";
NET "p_mychip_ad<4>" LOC="D2";
NET "p_mychip_ad<50>" LOC="K4";
NET "p_mychip_ad<51>" LOC="K2";
NET "p_mychip_ad<52>" LOC="J5";
NET "p_mychip_ad<53>" LOC="J3";
NET "p_mychip_ad<54>" LOC="J4";
NET "p_mychip_ad<55>" LOC="J6";
NET "p_mychip_ad<56>" LOC="H6";
NET "p_mychip_ad<57>" LOC="J7";
NET "p_mychip_ad<58>" LOC="J8";
NET "p_mychip_ad<59>" LOC="M7";
NET "p_mychip_ad<5>" LOC="C2";
NET "p_mychip_ad<60>" LOC="M6";
NET "p_mychip_ad<61>" LOC="M5";
NET "p_mychip_ad<62>" LOC="L3";
NET "p_mychip_ad<63>" LOC="K3";
NET "p_mychip_ad<6>" LOC="F5";
NET "p_mychip_ad<7>" LOC="E5";
NET "p_mychip_ad<8>" LOC="D6";
NET "p_mychip_ad<9>" LOC="D7";
NET "p_mychip_c_be_l<0>" LOC="E6";
NET "p_mychip_c_be_l<1>" LOC="F9";
NET "p_mychip_c_be_l<2>" LOC="G9";
NET "p_mychip_c_be_l<3>" LOC="E9";
NET "p_mychip_c_be_l<4>" LOC="M9";
NET "p_mychip_c_be_l<5>" LOC="J2";
NET "p_mychip_c_be_l<6>" LOC="H5";
NET "p_mychip_c_be_l<7>" LOC="H7";
NET "p_mychip_clk" LOC="B13";
NET "p_mychip_devsel_l" LOC="G5";
NET "p_mychip_frame_l" LOC="G8";
NET "p_mychip_gnt_l" LOC="J12";
NET "p_mychip_idsel" LOC="E8";
NET "p_mychip_inta_l" LOC="H13";
NET "p_mychip_irdy_l" LOC="F8";
#NET "p_mychip_lock_l" LOC="E4";
NET "p_mychip_par64" LOC="M8";
NET "p_mychip_par" LOC="G7";
NET "p_mychip_perr_l" LOC="F2";
NET "p_mychip_req64_l" LOC="F6";
NET "p_mychip_req_l" LOC="H12";
NET "p_mychip_rst_l" LOC="J13";
NET "p_mychip_serr_l" LOC="H10";
NET "p_mychip_stop_l" LOC="D5";
NET "p_mychip_trdy_l" LOC="C1";
#NET "p_pc_ldm" LOC="G23";
#NET "p_pc_ldqs" LOC="J22";
#NET "p_pc_ras_l" LOC="H22";
#NET "p_pc_udm" LOC="G24";
#NET "p_pc_udqs" LOC="K22";
#NET "p_pc_we_l" LOC="F26";
NET "p_qa_msgi_af" LOC="P4";
NET "p_rd_egress_bc1_gnt" LOC="AC3";
NET "p_rd_egress_bc2_gnt" LOC="V23";

NET "p_mychip_rst_l" TIG;
NET "*dcm_reset*" TIG;
NET "p_bc2_present_l" TIG;

################################################################################
# I/O Register Usage
################################################################################
#
INST "mychip_top_XPCI_WRAP/XPCI_CORE/XPCI_IDFF/XPCI_ADI*"                     IOB = TRUE  ;
INST "mychip_top_XPCI_WRAP/XPCI_CORE/XPCI_IDFF/XPCI_CBI*"                     IOB = TRUE  ;
INST "mychip_top_XPCI_WRAP/XPCI_CORE/XPCI_IDFF/XPCI_PARI"                     IOB = TRUE  ;
INST "mychip_top_XPCI_WRAP/XPCI_CORE/XPCI_IDFF/XPCI_PAR64I"                   IOB = TRUE  ;
INST "mychip_top_XPCI_WRAP/XPCI_CORE/XPCI_IDFF/XPCI_FRAMEI"                   IOB = TRUE  ;
INST "mychip_top_XPCI_WRAP/XPCI_CORE/XPCI_IDFF/XPCI_REQ64I"                   IOB = TRUE  ;
INST "mychip_top_XPCI_WRAP/XPCI_CORE/XPCI_IDFF/XPCI_TRDYI"                    IOB = TRUE  ;
INST "mychip_top_XPCI_WRAP/XPCI_CORE/XPCI_IDFF/XPCI_IRDYI"                    IOB = TRUE  ;
INST "mychip_top_XPCI_WRAP/XPCI_CORE/XPCI_IDFF/XPCI_STOPI"                    IOB = TRUE  ;
INST "mychip_top_XPCI_WRAP/XPCI_CORE/XPCI_IDFF/XPCI_DEVSELI"                  IOB = TRUE  ;
INST "mychip_top_XPCI_WRAP/XPCI_CORE/XPCI_IDFF/XPCI_ACK64I"                   IOB = TRUE  ;
INST "mychip_top_XPCI_WRAP/XPCI_CORE/XPCI_IDFF/XPCI_PERRI"                    IOB = TRUE  ;
INST "mychip_top_XPCI_WRAP/XPCI_CORE/XPCI_IDFF/XPCI_SERRI"                    IOB = TRUE  ;
INST "mychip_top_XPCI_WRAP/XPCI_CORE/XPCI_IDFF/XPCI_GNTI"                     IOB = TRUE  ;
INST "mychip_top_XPCI_WRAP/XPCI_CORE/XPCI_IDFF/XPCI_IDSELI"                   IOB = TRUE  ;
#
INST "mychip_top_XPCI_WRAP/XPCI_CORE/XPCI_IDFX/XPCI_ADI*"                     IOB = TRUE  ;
INST "mychip_top_XPCI_WRAP/XPCI_CORE/XPCI_IDFX/XPCI_CBI*"                     IOB = TRUE  ;
INST "mychip_top_XPCI_WRAP/XPCI_CORE/XPCI_IDFX/XPCI_PARI"                     IOB = TRUE  ;
INST "mychip_top_XPCI_WRAP/XPCI_CORE/XPCI_IDFX/XPCI_PAR64I"                   IOB = TRUE  ;
INST "mychip_top_XPCI_WRAP/XPCI_CORE/XPCI_IDFX/XPCI_FRAMEI"                   IOB = TRUE  ;
INST "mychip_top_XPCI_WRAP/XPCI_CORE/XPCI_IDFX/XPCI_REQ64I"                   IOB = TRUE  ;
INST "mychip_top_XPCI_WRAP/XPCI_CORE/XPCI_IDFX/XPCI_TRDYI"                    IOB = TRUE  ;
INST "mychip_top_XPCI_WRAP/XPCI_CORE/XPCI_IDFX/XPCI_IRDYI"                    IOB = TRUE  ;
INST "mychip_top_XPCI_WRAP/XPCI_CORE/XPCI_IDFX/XPCI_STOPI"                    IOB = TRUE  ;
INST "mychip_top_XPCI_WRAP/XPCI_CORE/XPCI_IDFX/XPCI_DEVSELI"                  IOB = TRUE  ;
INST "mychip_top_XPCI_WRAP/XPCI_CORE/XPCI_IDFX/XPCI_ACK64I"                   IOB = TRUE  ;
INST "mychip_top_XPCI_WRAP/XPCI_CORE/XPCI_IDFX/XPCI_PERRI"                    IOB = TRUE  ;
INST "mychip_top_XPCI_WRAP/XPCI_CORE/XPCI_IDFX/XPCI_SERRI"                    IOB = TRUE  ;
INST "mychip_top_XPCI_WRAP/XPCI_CORE/XPCI_IDFX/XPCI_GNTI"                     IOB = TRUE  ;
INST "mychip_top_XPCI_WRAP/XPCI_CORE/XPCI_IDFX/XPCI_IDSELI"                   IOB = TRUE  ;
#
INST "mychip_top_XPCI_WRAP/XPCI_CORE/XPCI_ODFF/XPCI_ADO*"                     IOB = TRUE  ;
INST "mychip_top_XPCI_WRAP/XPCI_CORE/XPCI_ODFF/XPCI_CBO*"                     IOB = TRUE  ;
INST "mychip_top_XPCI_WRAP/XPCI_CORE/XPCI_ODFF/XPCI_PARO"                     IOB = TRUE  ;
INST "mychip_top_XPCI_WRAP/XPCI_CORE/XPCI_ODFF/XPCI_PAR64O"                   IOB = TRUE  ;
INST "mychip_top_XPCI_WRAP/XPCI_CORE/XPCI_ODFF/XPCI_FRAMEO"                   IOB = TRUE  ;
INST "mychip_top_XPCI_WRAP/XPCI_CORE/XPCI_ODFF/XPCI_REQ64O"                   IOB = TRUE  ;
INST "mychip_top_XPCI_WRAP/XPCI_CORE/XPCI_ODFF/XPCI_TRDYO"                    IOB = TRUE  ;
INST "mychip_top_XPCI_WRAP/XPCI_CORE/XPCI_ODFF/XPCI_IRDYO"                    IOB = TRUE  ;
INST "mychip_top_XPCI_WRAP/XPCI_CORE/XPCI_ODFF/XPCI_STOPO"                    IOB = TRUE  ;
INST "mychip_top_XPCI_WRAP/XPCI_CORE/XPCI_ODFF/XPCI_DEVSELO"                  IOB = TRUE  ;
INST "mychip_top_XPCI_WRAP/XPCI_CORE/XPCI_ODFF/XPCI_ACK64O"                   IOB = TRUE  ;
INST "mychip_top_XPCI_WRAP/XPCI_CORE/XPCI_ODFF/XPCI_PERRO"                    IOB = TRUE  ;
INST "mychip_top_XPCI_WRAP/XPCI_CORE/XPCI_ODFF/XPCI_SERRO"                    IOB = TRUE  ;
INST "mychip_top_XPCI_WRAP/XPCI_CORE/XPCI_ODFF/XPCI_INTO"                     IOB = TRUE  ;
INST "mychip_top_XPCI_WRAP/XPCI_CORE/XPCI_ODFF/XPCI_PMEO"                     IOB = TRUE  ;
INST "mychip_top_XPCI_WRAP/XPCI_CORE/XPCI_ODFF/XPCI_REQO"                     IOB = TRUE  ;
#
INST "mychip_top_XPCI_WRAP/XPCI_CORE/XPCI_TDFF/XPCI_ADT*"                     IOB = TRUE  ;
INST "mychip_top_XPCI_WRAP/XPCI_CORE/XPCI_TDFF/XPCI_CBT*"                     IOB = TRUE  ;
INST "mychip_top_XPCI_WRAP/XPCI_CORE/XPCI_TDFF/XPCI_PART"                     IOB = TRUE  ;
INST "mychip_top_XPCI_WRAP/XPCI_CORE/XPCI_TDFF/XPCI_PAR64T"                   IOB = TRUE  ;
INST "mychip_top_XPCI_WRAP/XPCI_CORE/XPCI_TDFF/XPCI_FRAMET"                   IOB = TRUE  ;
INST "mychip_top_XPCI_WRAP/XPCI_CORE/XPCI_TDFF/XPCI_REQ64T"                   IOB = TRUE  ;
INST "mychip_top_XPCI_WRAP/XPCI_CORE/XPCI_TDFF/XPCI_TRDYT"                    IOB = TRUE  ;
INST "mychip_top_XPCI_WRAP/XPCI_CORE/XPCI_TDFF/XPCI_IRDYT"                    IOB = TRUE  ;
INST "mychip_top_XPCI_WRAP/XPCI_CORE/XPCI_TDFF/XPCI_STOPT"                    IOB = TRUE  ;
INST "mychip_top_XPCI_WRAP/XPCI_CORE/XPCI_TDFF/XPCI_DEVSELT"                  IOB = TRUE  ;
INST "mychip_top_XPCI_WRAP/XPCI_CORE/XPCI_TDFF/XPCI_ACK64T"                   IOB = TRUE  ;
INST "mychip_top_XPCI_WRAP/XPCI_CORE/XPCI_TDFF/XPCI_PERRT"                    IOB = TRUE  ;
INST "mychip_top_XPCI_WRAP/XPCI_CORE/XPCI_TDFF/XPCI_SERRT"                    IOB = TRUE  ;
INST "mychip_top_XPCI_WRAP/XPCI_CORE/XPCI_TDFF/XPCI_INTT"                     IOB = TRUE  ;
INST "mychip_top_XPCI_WRAP/XPCI_CORE/XPCI_TDFF/XPCI_PMET"                     IOB = TRUE  ;
INST "mychip_top_XPCI_WRAP/XPCI_CORE/XPCI_TDFF/XPCI_REQT"                     IOB = TRUE  ;
#
################################################################################
# I/O Time Names
################################################################################
#
NET  "mychip_top_XPCI_WRAP/AD_IO<63>"                               TNM = PADS:BUS_PADS_D ;
NET  "mychip_top_XPCI_WRAP/AD_IO<62>"                               TNM = PADS:BUS_PADS_D ;
NET  "mychip_top_XPCI_WRAP/AD_IO<61>"                               TNM = PADS:BUS_PADS_D ;
NET  "mychip_top_XPCI_WRAP/AD_IO<60>"                               TNM = PADS:BUS_PADS_D ;
NET  "mychip_top_XPCI_WRAP/AD_IO<59>"                               TNM = PADS:BUS_PADS_D ;
NET  "mychip_top_XPCI_WRAP/AD_IO<58>"                               TNM = PADS:BUS_PADS_D ;
NET  "mychip_top_XPCI_WRAP/AD_IO<57>"                               TNM = PADS:BUS_PADS_D ;
NET  "mychip_top_XPCI_WRAP/AD_IO<56>"                               TNM = PADS:BUS_PADS_D ;
NET  "mychip_top_XPCI_WRAP/AD_IO<55>"                               TNM = PADS:BUS_PADS_D ;
NET  "mychip_top_XPCI_WRAP/AD_IO<54>"                               TNM = PADS:BUS_PADS_D ;
NET  "mychip_top_XPCI_WRAP/AD_IO<53>"                               TNM = PADS:BUS_PADS_D ;
NET  "mychip_top_XPCI_WRAP/AD_IO<52>"                               TNM = PADS:BUS_PADS_D ;
NET  "mychip_top_XPCI_WRAP/AD_IO<51>"                               TNM = PADS:BUS_PADS_D ;
NET  "mychip_top_XPCI_WRAP/AD_IO<50>"                               TNM = PADS:BUS_PADS_D ;
NET  "mychip_top_XPCI_WRAP/AD_IO<49>"                               TNM = PADS:BUS_PADS_D ;
NET  "mychip_top_XPCI_WRAP/AD_IO<48>"                               TNM = PADS:BUS_PADS_D ;
NET  "mychip_top_XPCI_WRAP/AD_IO<47>"                               TNM = PADS:BUS_PADS_D ;
NET  "mychip_top_XPCI_WRAP/AD_IO<46>"                               TNM = PADS:BUS_PADS_D ;
NET  "mychip_top_XPCI_WRAP/AD_IO<45>"                               TNM = PADS:BUS_PADS_D ;
NET  "mychip_top_XPCI_WRAP/AD_IO<44>"                               TNM = PADS:BUS_PADS_D ;
NET  "mychip_top_XPCI_WRAP/AD_IO<43>"                               TNM = PADS:BUS_PADS_D ;
NET  "mychip_top_XPCI_WRAP/AD_IO<42>"                               TNM = PADS:BUS_PADS_D ;
NET  "mychip_top_XPCI_WRAP/AD_IO<41>"                               TNM = PADS:BUS_PADS_D ;
NET  "mychip_top_XPCI_WRAP/AD_IO<40>"                               TNM = PADS:BUS_PADS_D ;
NET  "mychip_top_XPCI_WRAP/AD_IO<39>"                               TNM = PADS:BUS_PADS_D ;
NET  "mychip_top_XPCI_WRAP/AD_IO<38>"                               TNM = PADS:BUS_PADS_D ;
NET  "mychip_top_XPCI_WRAP/AD_IO<37>"                               TNM = PADS:BUS_PADS_D ;
NET  "mychip_top_XPCI_WRAP/AD_IO<36>"                               TNM = PADS:BUS_PADS_D ;
NET  "mychip_top_XPCI_WRAP/AD_IO<35>"                               TNM = PADS:BUS_PADS_D ;
NET  "mychip_top_XPCI_WRAP/AD_IO<34>"                               TNM = PADS:BUS_PADS_D ;
NET  "mychip_top_XPCI_WRAP/AD_IO<33>"                               TNM = PADS:BUS_PADS_D ;
NET  "mychip_top_XPCI_WRAP/AD_IO<32>"                               TNM = PADS:BUS_PADS_D ;
NET  "mychip_top_XPCI_WRAP/AD_IO<31>"                               TNM = PADS:BUS_PADS_D ;
NET  "mychip_top_XPCI_WRAP/AD_IO<30>"                               TNM = PADS:BUS_PADS_D ;
NET  "mychip_top_XPCI_WRAP/AD_IO<29>"                               TNM = PADS:BUS_PADS_D ;
NET  "mychip_top_XPCI_WRAP/AD_IO<28>"                               TNM = PADS:BUS_PADS_D ;
NET  "mychip_top_XPCI_WRAP/AD_IO<27>"                               TNM = PADS:BUS_PADS_D ;
NET  "mychip_top_XPCI_WRAP/AD_IO<26>"                               TNM = PADS:BUS_PADS_D ;
NET  "mychip_top_XPCI_WRAP/AD_IO<25>"                               TNM = PADS:BUS_PADS_D ;
NET  "mychip_top_XPCI_WRAP/AD_IO<24>"                               TNM = PADS:BUS_PADS_D ;
NET  "mychip_top_XPCI_WRAP/AD_IO<23>"                               TNM = PADS:BUS_PADS_D ;
NET  "mychip_top_XPCI_WRAP/AD_IO<22>"                               TNM = PADS:BUS_PADS_D ;
NET  "mychip_top_XPCI_WRAP/AD_IO<21>"                               TNM = PADS:BUS_PADS_D ;
NET  "mychip_top_XPCI_WRAP/AD_IO<20>"                               TNM = PADS:BUS_PADS_D ;
NET  "mychip_top_XPCI_WRAP/AD_IO<19>"                               TNM = PADS:BUS_PADS_D ;
NET  "mychip_top_XPCI_WRAP/AD_IO<18>"                               TNM = PADS:BUS_PADS_D ;
NET  "mychip_top_XPCI_WRAP/AD_IO<17>"                               TNM = PADS:BUS_PADS_D ;
NET  "mychip_top_XPCI_WRAP/AD_IO<16>"                               TNM = PADS:BUS_PADS_D ;
NET  "mychip_top_XPCI_WRAP/AD_IO<15>"                               TNM = PADS:BUS_PADS_D ;
NET  "mychip_top_XPCI_WRAP/AD_IO<14>"                               TNM = PADS:BUS_PADS_D ;
NET  "mychip_top_XPCI_WRAP/AD_IO<13>"                               TNM = PADS:BUS_PADS_D ;
NET  "mychip_top_XPCI_WRAP/AD_IO<12>"                               TNM = PADS:BUS_PADS_D ;
NET  "mychip_top_XPCI_WRAP/AD_IO<11>"                               TNM = PADS:BUS_PADS_D ;
NET  "mychip_top_XPCI_WRAP/AD_IO<10>"                               TNM = PADS:BUS_PADS_D ;
NET  "mychip_top_XPCI_WRAP/AD_IO<9>"                                TNM = PADS:BUS_PADS_D ;
NET  "mychip_top_XPCI_WRAP/AD_IO<8>"                                TNM = PADS:BUS_PADS_D ;
NET  "mychip_top_XPCI_WRAP/AD_IO<7>"                                TNM = PADS:BUS_PADS_D ;
NET  "mychip_top_XPCI_WRAP/AD_IO<6>"                                TNM = PADS:BUS_PADS_D ;
NET  "mychip_top_XPCI_WRAP/AD_IO<5>"                                TNM = PADS:BUS_PADS_D ;
NET  "mychip_top_XPCI_WRAP/AD_IO<4>"                                TNM = PADS:BUS_PADS_D ;
NET  "mychip_top_XPCI_WRAP/AD_IO<3>"                                TNM = PADS:BUS_PADS_D ;
NET  "mychip_top_XPCI_WRAP/AD_IO<2>"                                TNM = PADS:BUS_PADS_D ;
NET  "mychip_top_XPCI_WRAP/AD_IO<1>"                                TNM = PADS:BUS_PADS_D ;
NET  "mychip_top_XPCI_WRAP/AD_IO<0>"                                TNM = PADS:BUS_PADS_D ;
#
NET  "mychip_top_XPCI_WRAP/CBE_IO<7>"                               TNM = PADS:BUS_PADS_D ;
NET  "mychip_top_XPCI_WRAP/CBE_IO<6>"                               TNM = PADS:BUS_PADS_D ;
NET  "mychip_top_XPCI_WRAP/CBE_IO<5>"                               TNM = PADS:BUS_PADS_D ;
NET  "mychip_top_XPCI_WRAP/CBE_IO<4>"                               TNM = PADS:BUS_PADS_D ;
NET  "mychip_top_XPCI_WRAP/CBE_IO<3>"                               TNM = PADS:BUS_PADS_D ;
NET  "mychip_top_XPCI_WRAP/CBE_IO<2>"                               TNM = PADS:BUS_PADS_D ;
NET  "mychip_top_XPCI_WRAP/CBE_IO<1>"                               TNM = PADS:BUS_PADS_D ;
NET  "mychip_top_XPCI_WRAP/CBE_IO<0>"                               TNM = PADS:BUS_PADS_D ;
#
NET  "mychip_top_XPCI_WRAP/PAR_IO"                                  TNM = PADS:BUS_PADS_D ;
NET  "mychip_top_XPCI_WRAP/PAR64_IO"                                TNM = PADS:BUS_PADS_D ;
#
NET  "mychip_top_XPCI_WRAP/FRAME_IO"                                TNM = PADS:BUS_PADS_C ;
NET  "mychip_top_XPCI_WRAP/REQ64_IO"                                TNM = PADS:BUS_PADS_C ;
NET  "mychip_top_XPCI_WRAP/TRDY_IO"                                 TNM = PADS:BUS_PADS_C ;
NET  "mychip_top_XPCI_WRAP/IRDY_IO"                                 TNM = PADS:BUS_PADS_C ;
NET  "mychip_top_XPCI_WRAP/STOP_IO"                                 TNM = PADS:BUS_PADS_C ;
NET  "mychip_top_XPCI_WRAP/DEVSEL_IO"                               TNM = PADS:BUS_PADS_C ;
NET  "mychip_top_XPCI_WRAP/ACK64_IO"                                TNM = PADS:BUS_PADS_C ;
NET  "mychip_top_XPCI_WRAP/IDSEL_I"                                 TNM = PADS:BUS_PADS_C ;
NET  "mychip_top_XPCI_WRAP/PERR_IO"                                 TNM = PADS:BUS_PADS_C ;
NET  "mychip_top_XPCI_WRAP/SERR_IO"                                 TNM = PADS:BUS_PADS_C ;
NET  "mychip_top_XPCI_WRAP/INT_O"                                   TNM = PADS:BUS_PADS_C ;
NET  "mychip_top_XPCI_WRAP/PME_O"                                   TNM = PADS:BUS_PADS_C ;
NET  "mychip_top_XPCI_WRAP/REQ_O"                                   TNM = PADS:BUS_PADS_G ;
NET  "mychip_top_XPCI_WRAP/GNT_I"                                   TNM = PADS:BUS_PADS_G ;
NET  "mychip_top_XPCI_WRAP/RST_I"                                   TNM = PADS:BUS_PADS_X ;
#
INST "mychip_top_XPCI_WRAP"                                         TNM = FFS:CORE_FFS    ;
#INST "mychip_top_XPCI_USER"                                         TNM = FFS:USER_FFS    ;
#
################################################################################
# Time Groups
################################################################################
#
TIMEGRP "ALL_FFS" = "CORE_FFS" : "USER_FFS" ;
TIMEGRP "ALL_BUS" = "BUS_PADS_D" : "BUS_PADS_C" : "BUS_PADS_G" ;
TIMEGRP "TRI_BUS" = "BUS_PADS_D" : "BUS_PADS_C" ;
TIMEGRP "PTP_BUS" = "BUS_PADS_G" ;
#
################################################################################
# Time Specs for PCIX Mode, 133 MHz, in a -7 Device
################################################################################
#
# Define Device, Package, And Speed Grade
#
#
# The following timespec is for the period.
#
INST "mychip_top_XPCI_WRAP/XPCI_DLL" CLKOUT_PHASE_SHIFT = FIXED ;
INST "mychip_top_XPCI_WRAP/XPCI_DLL" PHASE_SHIFT = +8 ;
NET "mychip_top_XPCI_WRAP/CLK_I" PERIOD =  7.50 ;
#
# The following timespec is for clock to out.
#
TIMEGRP "ALL_BUS" OFFSET = OUT  3.80 AFTER  "mychip_top_XPCI_WRAP/CLK_I" TIMEGRP "ALL_FFS";
#
# The following timespec is for setup.
#
TIMEGRP "ALL_BUS" OFFSET = IN   1.39 BEFORE "mychip_top_XPCI_WRAP/CLK_I" TIMEGRP "ALL_FFS";
#
################################################################################
# Time Specs for PCIX Mode, 100 MHz, in a -6 Device
################################################################################
#
#
# The following timespec is for the period.
#
##NST "mychip_top_XPCI_WRAP/XPCI_DLL" CLKOUT_PHASE_SHIFT = FIXED ;
##NST "mychip_top_XPCI_WRAP/XPCI_DLL" PHASE_SHIFT = +11 ;
##ET "mychip_top_XPCI_WRAP/CLK_I" PERIOD = 10.00 ;
##
## The following timespec is for clock to out.
##
##IMEGRP "ALL_BUS" OFFSET = OUT  3.80 AFTER  "mychip_top_XPCI_WRAP/CLK_I" TIMEGRP "ALL_FFS";
##
## The following timespec is for setup.
##
##IMEGRP "ALL_BUS" OFFSET = IN   1.20 BEFORE "mychip_top_XPCI_WRAP/CLK_I" TIMEGRP "ALL_FFS";
#
